@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  font-size: 10px;
  font-family: "Nunito", sans-serif;

  --border-color: rgba(115, 115, 115, 0.451);
  --offer-color: #bc1919;
  --theme-color: #4daf8a;
}
